body {
  font-family: 'Roboto', sans-serif;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user {
  width: calc(33% - 40px);
  padding: 20px;
}

.center {
  text-align: center;
  display: block;
}

.right {
  text-align: right;
  display: block;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.img-wrap img {
  width: 100%;
}

.controls {
  display: flex;
  margin-top: 15px;
}

button {
  border: 1px solid #6c757d;
  font-size: 20px;
  border-radius: 3px;
  background: transparent;
  padding: 5px;
  color: #6c757d;
  outline: none;
  width: 100%;
  margin-left: auto;
  display: block;
  margin-right: 20px;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
  word-break: break-word;
  text-align: right;
}
